.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}



body {
  margin: 0;
  background: #1F1F1F;
background: -moz-linear-gradient(top, #1F1F1F 0%, #2D324E 52%, #1F1F1F 100%);
background: -webkit-linear-gradient(top, #1F1F1F 0%, #2D324E 52%, #1F1F1F 100%);
background: linear-gradient(to bottom, #1F1F1F 0%, #2D324E 52%, #1F1F1F 100%);
font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  justify-content: space-between;
}



#section1 {
  padding:1%
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #0c0c0f;
  padding-left: 4px;
  padding-right: 4px;
}




header ul {
  display: flex;
  align-self:baseline;
  color: white;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0px;
  font-size: 20px;
}

header p {
  margin-left: 16px;
  margin-top: 0%;
}



.heroImg {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: .25%;
}
 
h3 { 
   display: flex;
   text-align: center;
   max-width:450px;
}
 
.contentP {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  max-width: 85%;
  padding: 2%;
  margin-top: 5%;
  box-shadow: -10px 15px 4px rgba(23, 24, 27, 0.582);
}

.flexPic {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  min-height: 50%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 30%;
  max-height: 30%;
  padding:2%;
}

#disneyQ{
  margin-bottom: 0%;
  text-align: center;
  color:darkgoldenrod;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:italic;
}

.main {
  
}


.sectionTitle{ 
  border-bottom: 1px solid darkgoldenrod;
  margin-bottom: 2%;
}


.mySkills{
  display:flex;
  flex-direction:column;
  align-items: center;
  color:white;
  margin-bottom: 20px;
}

.flexContainer {
  display:flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  border-radius: 40px;
  width: 84%;
  background-color:#616680;
  box-shadow: 8px 15px 4px rgba(23, 24, 27, 0.582);
  min-height: 450px;
  padding: 2%;
}

#uiDesign{
  display:flex;
  flex-direction: column;
  border-radius: 25px; 
  width: 33%;
  max-width: 150px;
  background-color:#0f194b;
  box-shadow: 4px 6px 4px rgba(28, 29, 32, 0.582);
  color: #FFFFFF;
  padding:1.5%;
  padding-top: 30px;
  align-items: center;
  margin: 2%;
  
}

#uxDesign{
  display:flex;
  flex-direction: column;
  border-radius: 25px; 
  width: 33%;
  max-width: 150px;
  background-color: #0f194b;
  box-shadow: 4px 6px 4px rgba(28, 29, 32, 0.582);
  color: #FFFFFF;
  padding:1.5%;
  padding-top: 30px;
  align-items: center;
  margin: 2%;
}

#userTesting{ 
  display:flex;
  flex-direction: column; 
  border-radius: 25px;
  width: 33%;
  max-width: 150px;
  background-color: #0f194b;
  box-shadow: 4px 6px 4px rgba(28, 29, 32, 0.582);
  color: #FFFFFF;
  padding:1.5%;
  padding-top: 30px;
  align-items: center;
  text-align: center;
  margin: 2%;
}






.myWork{
  display: flex;
  flex-direction: column;
  padding: 5px;
  color:white;
  align-items: center;
  margin-bottom: 10%;
}


.workGrid {
  display:grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  padding: 20px;
  margin: 10px;
  height: 1500px;
  max-width: 1440px;
}

.workGrid p{ 
  max-width:300px;
  padding-top: 10%;
  padding: 1%;
}
h4{
  border-bottom: 2px solid white;
}

.myButton {
  color: rgb(255, 255, 255); 
  font-size: 14px; 
  line-height: 14px; 
  padding: 5px; 
  border-radius: 6px; 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: normal; 
  text-decoration: none; 
  font-style: normal; 
  font-variant: normal; 
  text-transform: none; 
  background-image: linear-gradient(rgb(61, 77, 132) 0%, rgb(127, 149, 211) 0%, rgb(59, 67, 99) 100%); 
  box-shadow: rgba(0, 0, 0, 0.36) 0px 5px 2px 0px; 
  border:none; 
  display: inline-block;}
  .myButton:hover {
  background: #3D4D84; }
  .myButton:active {
  background: #3B4363; }


#child1{ 
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
  grid-row-start:1;
  grid-row-end:6;
  grid-column-start:2;
  grid-column-end:7;
  padding:2%;
  background-color:#616680;
  box-shadow: -8px 15px 3px rgba(23, 24, 27, 0.582);
} 

#child2{ 
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
  grid-row-start: 8;
  grid-row-end: 13;
  grid-column-start:10;
  grid-column-end: 5;
  padding: 3%;
  background-color: #616680;
  box-shadow: 8px 15px 3px rgba(23, 24, 27, 0.582);
}

#child3{
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
  grid-row-start:15;
  grid-row-end: 20;
  grid-column-start:2;
  grid-column-end:7;
  padding:3%;
  background-color: #616680;
  box-shadow: -8px 15px 3px rgba(23, 24, 27, 0.582);
}

.dDfoundation{
  display: flex;
  size:20%;
}

footer {
  background-color: #0c0c0f;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 5px;
  margin-bottom: .5%;
}

footer li {
  vertical-align: inline-block;
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.caseStudyB{
    color: rgb(255, 255, 255); 
    font-size: 13px; 
    line-height: 13px; 
    padding: 5px; 
    border-radius: 4px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(rgb(143, 185, 123) 0%, rgb(169, 219, 145) 0%, rgb(0, 15, 32) 100%); box-shadow: rgba(0, 0, 0, 0.47) 0px 12px 15px 1px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
    .caseStudyB:hover {
    background: #7dc260; }
    .caseStudyB:active {
    background: #000F20; }

.smoothScroll{
    color: rgb(255, 255, 255); font-size: 13px; line-height: 13px; padding: 5px; border-radius: 4px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(rgb(139, 188, 93) 0%, rgb(213, 247, 97) 100%, rgb(8, 40, 2) 100%); box-shadow: rgba(0, 0, 0, 0.47) 0px 12px 15px 0px; border: 0px solid rgb(28, 110, 164); display: inline-block;}
    .smoothScroll:hover {
    background: #8BBC5D; }
    .smoothScroll:active {
    background: #082802; }
  


    
@media screen and (max-width: 600px) {
  body {
   width: 100%; }
}

@media screen and (max-width: 1520px) {
  .flexPic {
   display: flex;
   height:50%;
   width: 50%;
   }
}

@media screen and (max-width: 800px) {
  .contentP {
   display: flex;
   flex-direction:column;
  }
  .aboutMe {
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .workGrid {
   display: flex;
   flex-direction:column;
   justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .flexContainer {
   display: flex;
   flex-direction: column;
   align-self: center;
   align-items: center;
   width: 80%;
   height: 80%;
  }
}

@media screen and (max-width: 600px) {
  #child1 {
   display: flex;
   flex-direction:row;
   align-self: center;
  }
}

@media screen and (max-width: 600px) {
  #child2 {
   display: flex;
   flex-direction:row-reverse;
   align-self: center;
   } 
  .departmentOfEd {
    display: flex;
    min-width: 65%; 
  }
}

@media screen and (max-width: 600px){
  #child3 {
    display: flex; 
  }
  .dDfoundation {
    max-width: 270px;
  }
}